@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
  font-weight: 500;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}


li,
h1,
h2,
h3,
button,
p {
  color: white;
}

p {
  line-height: 30px;
}

nav li {
  list-style: none;
  margin-right: 15px;
}

li {
  margin-left: 40px;
  color: #FB6423;
}

ul {
  display: flex;
  align-items: center;
}

nav {
  z-index: 10000;
  justify-content: space-between;
  align-items: center;
  display: flex;
  top: 20px;
  left: 50%;
  height: 40px;
  transform: translate(-50%, 0%);
  position: fixed;
  width: 80%;
  background-color: #404040;
  padding: 10px 0px;
  border-radius: 50px;
}

nav>img {
  width: auto;
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 40px;
  margin-left: 18px;
}

button {
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 50px;
  margin-right: 20px;
  border: none;
  background: linear-gradient(to right, #5CA5E9, #1C24EA, #9E00FF, #EB1896, #FF7A00);
}

nav a.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}

nav a:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}

nav a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.part {
  min-height: 100vh;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.home {
  display: flex;
  align-items: center;
}

.home .left {
  width: 50%;
}

.home h1 {
  font-weight: bold;
  font-size: 50px;
}

.home h2 {
  font-weight: 500;
  font-size: 17px;
}

.left button {
  font-size: 15px;
}

.card {
  position: relative;
  background-color: #2B2B2B;
  border-radius: 20px;
  padding-left: 30px;
}

.card img {
  position: absolute;
  background-color: #D9D9D9;
  border-radius: 50%;
  border: 8px solid #D9D9D9;
  top: -30px;
  width: 52px;
  height: auto;
  aspect-ratio: 1/1;
}

.title {
  margin-top: 100px;
  text-align: center;
}

.title .menuFil::before {
  content: "\002605";
  color: #FB6423;
  margin-right: 10px;
  font-size: 15px;
  vertical-align: middle;
}

.title .top {
  color: #FB6423;
  font-size: 0.8em;
  margin-bottom: 2px;
}

.title .bottom {
  font-size: 1.5em;
}

.title .bottom::after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: #FB6423;
  position: relative;
  bottom: -5px;
  margin-left: auto;
  margin-right: auto;
}