#portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#portfolio .lifeExp {
    position: relative;
}

#portfolio .lifeExp .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 0px;
}

.workCard {
    border: 2px solid #FB6423;
    border-radius: 10px;
    padding: 30px;
    position: relative;
}

.lifeExp .middleBar {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
}

.lifeExp .middleBar::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #FB6423;
}

.lifeExp .middleBar::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FB6423;
}

.line {
    width: 52px;
    height: 1px;
    background-color: white;
    position: absolute;
    z-index: -1;
}

.left .line {
    top: 50%;
    right: 0px;
    transform: translate(100%, 0%);
}

.right .line {
    top: 50%;
    left: 0px;
    transform: translate(-100%, 0%);
}

p.right {
    display: flex;
    align-items: center;
}

p.left {
    display: flex;
    align-items: center;
    justify-content: right;
}

.left {
    text-align: right;
}

.workCard h2 {
    text-transform: uppercase;
    color: #FB6423;
}

.workCard h3 {
    margin-bottom: 10px;
}