@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 53 39% 99%;
      --foreground: 53 74% 3%;
      --muted: 233 20% 89%;
      --muted-foreground: 233 11% 29%;
      --popover: 53 39% 99%;
      --popover-foreground: 53 74% 3%;
      --card: 53 39% 99%;
      --card-foreground: 53 74% 3%;
      --border: 53 4% 94%;
      --input: 53 4% 94%;
      --primary: 18.06 96.43% 56.08%;
      --primary-foreground: 0 0% 0%;
      --secondary: 233 65% 38%;
      --secondary-foreground: 233 65% 98%;
      --accent: 233 65% 38%;
      --accent-foreground: 233 65% 98%;
      --destructive: 16 88% 27%;
      --destructive-foreground: 16 88% 87%;
      --ring: 53 65% 38%;
      --radius: 2rem;
    }

    .dark {
      --background: 223.64 21.57% 10%;
      --foreground: 53 18% 97%;
      --muted: 233 20% 11%;
      --muted-foreground: 233 11% 71%;
      --popover: 53 36% 0%;
      --popover-foreground: 53 18% 97%;
      --card: 250 8% 39%;
      --card-foreground: 53 18% 97%;
      --border: 53 4% 13%;
      --input: 53 4% 13%;
      --primary: 18.06 96.43% 56.08%;
      --primary-foreground: 0 0% 100%;
      --secondary: 233 65% 38%;
      --secondary-foreground: 233 65% 98%;
      --accent: 233 65% 38%;
      --accent-foreground: 233 65% 98%;
      --destructive: 16 88% 48%;
      --destructive-foreground: 0 0% 100%;
      --ring: 53 65% 38%;
    }
  }



  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }